/* html tags */

.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: rgb(17, 17, 18);
    color: rgb(30, 215, 96);
    padding-bottom: 20vh;
    font-size: calc((4vh + 1vw)/2);
    font-weight: 600;
}

p {
    text-align: left;
    padding-left: 2vw;
    color: white;
}

span {
    padding-left: 3vw;
}

hr {
    border-color: rgb(30, 215, 96);
}

a {
    color: rgb(159, 159, 230);
}

/* Hotbar contents */

.hotbar {
    height: 10vh;
    width: 95vw;
    display: flex;
    padding-bottom: 0;
    padding-left: 0;
}

    .hSelec {
        width: 16vw;
        height: 6vh;
        padding-left: 3vw;
        padding-right: 3vw;
        cursor: pointer;
        color: rgb(30, 215, 96);
        font-weight: 600;
    }

    .hSelec:hover {
        color: rgb(16, 146, 61);
    }

    #selec {
        text-align: right;
        padding-right: 6vw;
        padding-left: 20vw;
        padding-top: 4vh;
        margin-left: auto;
        font-weight: 900;

    }

    #head { /* Website header */
        text-align: left;
        font-size: 6.5vh;
        padding-left: 5vw;
        padding-top: 2vh;
        margin: 0;
    }

    .separator {
        padding-right: 3vw;
        padding-left: 3vw;
    }

    
/* other classes */

#content {
    padding-top: 0;
    padding-left: 3vw;
    padding-right: 3vw;
}

.headings { /* Page heading */
    text-align: left;
    margin-top: 8vh;
    margin-bottom: 6vh;
    padding-left: 2vw;
    font-size: calc((5vh + 3vw)/2);
    color: white;
}

.Link {
    text-decoration: none;
}

.head2 {
    color: rgb(30, 215, 96);
    font-size: 3.75vh;
    padding-left: 3vw;
}

